.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #BDBDBD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

ul.pagination li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: var(--color-primary);
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}